div.App {
  margin: auto;
  max-width: 1024px;
}

div.gameCard {
  display: flex; 
  flex-direction: row; 
  margin: 1rem 2rem;
  min-width: 240px;
  padding: .5rem;
}

div.gameCard img {
  margin-right: 1rem;
  background: #fff;
  border-radius: 1rem;
}

div.gameCard h3 {
  font-size: 1.25rem;
  padding: 0;
  margin-top: 0;
}

div.gameCard-status label {
  margin-left: 1rem;
}

div.gameCard-pinnedContent {
  display: flex;
}

div.gameCard-pinnedContent div,
div.gameCard-pinnedContent a
{
  margin-right: 1rem;
}

li {
  list-style: none;
}
ul {
  padding: 0;
}
